/*@import url(http://fonts.googleapis.com/css?family=Roboto:400);*/

body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px arial,sans-serif;
 /* background-image: url("../imagenes/exo-planet-earth-from-space.jpg");*/
}


.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

.panel-primary {
    
    border-width: 0px;
    box-shadow:0 1px 0 #cfcfcf;
    

}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:12px;
 padding-bottom:10px;
 text-align: center;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 20%;
    margin-bottom: 0;

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}


